@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

$fontFamily: "Overpass", sans-serif;

$colorOrange: hsl(25deg, 97%, 53%);
$colorWhite: hsl(0deg, 0%, 100%);
$colorLightGrey: hsl(217deg, 12%, 63%);
$colorMediumGrey: hsl(216deg, 12%, 54%);
$colorDarkBlue: hsl(213deg, 19%, 18%);
$colorVeryDarkBlue: hsl(216deg, 12%, 8%);
